
  	body{
  		background: #7a9;
		  margin: 0 auto;
		  max-width: 70%;
		 font-size: 1.1rem;
	  }
	  
  	.title{
		  margin-top: 50px;
  	}

  	.space{
  		height:2px;
  		background: #caa;	
  		margin-top: 40px;
  	}

  	#personal, #education, #working {
  		height:30px;
		background: #caa;
		text-align: center;
  	}



